<h4>List:</h4>
<ul class="list-group">
  <li
    *ngFor="
      let item of characterList;
      let i = index;
      let isFirst = first;
      let isLast = last;
      let isEven = even
    "
    class="list-group-item"
    [ngClass]="{
      'list-group-item-success': isFirst,
      'list-group-item-dark': isLast
    }"
  >
    <span class="text-primary">{{ i + 1 }}. </span>
    <strong>Name: </strong>
    <span>{{ item.name }} </span>- <strong>Power: </strong>
    <span>{{ item.power }}</span>
  </li>
</ul>
